/* Generic styles for demo page */

:root {
  --color-background: #fafafa;
  --color-text--normal: #0c0c0c;
  --color-button-border: #6c757d;
}

.dark {
  --color-background: #222;
  --color-text--normal: #e6e6e6;
  --color-button-border: #6c757d;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

body,
div,
span,
input,
select,
p {
  color: var(--color-text--normal);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

body > .wrapper {
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.container-theme {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

body > .wrapper > .container {
  width: 100%;
  max-width: unset;
  margin: 40px 0;
}

.container > div {
  width: 50%;
}

.results {
  width: 50%;
}

#dropdownSelected > span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.toggle-theme {
  all: unset;
  cursor: pointer;
  position: relative;
  padding: 0.7rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  line-height: 0rem;
}

.toggle-theme:hover {
  background-color: #cccccc5c;
}

hr {
  border: 1px solid;
  background-color: var(--color-text--normal);
  opacity: 50%;
  margin: 3rem 0rem;
}

/* At the top level of your code */
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .container > div {
    width: 100%;
  }
}
