:root {
  --color-bg: #fafafa;
  --color-border: #ced4da;
  --color-bg-option: #ebebeb;
  --color-bg-option-hover: #cbd5e0a1;
  --color-text-normal: #0c0c0c;
  --color-text-grey: #24262c;
  --color-text-light: #fcfcfc;
  --color-text-accent: #e7e7e7;
  --color-bg-accent: #959595;
  --color-text-placeholder: #a2a2a2;
  --border-radius-base: 0.25rem;
  --border-radius-small: 0.15rem;
  --icon-chevron: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' /></svg>");
  --icon-search: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
}

/* Dark theme */
.dark {
  --color-bg: #222;
  --color-border: #70777e;
  --color-bg-option: #555555;
  --color-bg-option-hover: #8c95a1a1;
  --color-text-normal: #e6e6e6;
  --color-text-grey: #484c57;
  --color-text-light: #fcfcfc;
  --color-text-accent: #cccbcb;
  --color-bg-accent: #292929;
  --color-text-placeholder: #a1a1a1;
  --icon-chevron: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path  fill='%23ccc' fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' /></svg>");
  --icon-search: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill='%23ccc' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
}

/* 
 * Hide allselects to show library select 
 *
 * TODO: set a class in selects we want to apply library
 * */

.sa-select {
  display: none;
}

.sa-dropdown {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 6px 8px 6px 6px;
  gap: 6px;
  border-radius: var(--border-radius-base);
  border: solid 1px var(--color-border);
  background: var(--color-bg);
  background-image: var(--icon-chevron);
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 16px 12px;
  width: 100%;
  min-height: 37px;
  box-sizing: border-box;
  padding-right: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.sa-option-text,
.sa-placeholder {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: var(--border-radius-small);
}

.sa-option-text {
  background-color: var(--color-bg-option);
  color: var(--color-text-normal);
  cursor: default;
  font-family: system-ui, -apple-system, sans-serif;
  hyphens: auto;
  overflow: hidden;
  padding: 0rem 0.4rem 0rem 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.sa-option-text .sa-option-del {
  background-color: var(--color-bg-accent);
  border-radius: var(--border-radius-small);
  color: var(--color-text-accent);
  cursor: pointer;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  padding: 0px 4px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.sa-option-text .sa-option-del:hover {
  background-color: var(--color-text-grey);
}

.sa-placeholder {
  color: var(--color-text-placeholder);
}

.sa-dropdown-list-wrapper {
  z-index: 100;
  border-radius: var(--border-radius-base);
  border: solid 1px var(--color-border);
  transition: border-color 0.3s ease-in-out;
  display: none;
  margin: -.8px -1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-bg);
}

.sa-dropdown-search {
  border-radius: .25rem;
  color: var(--color-text-normal);
  padding: 5px 34px 6px 5px;
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
  border: solid 1px transparent;
  fill: inherit;
  font-size: inherit;
  background-color: var(--color-bg);
  background-image: var(--icon-search);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px 14px;
  box-sizing: border-box;
  height: 37px;
}

.sa-dropdown-search::placeholder {
  color: var(--color-text-placeholder);
  font-size: 16px;
}

.sa-dropdown-search:focus,
.sa-dropdown-search:focus-visible {
  outline: none;
}

.sa-dropdown-list {
  color: var(--color-text-normal);
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sa-dropdown-list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.sa-dropdown-list::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-option);
  border-radius: 1000px;
}

.sa-option,
.sa-option > input,
.sa-option > label {
  border-radius: var(--border-radius-base);
}

.sa-option > label {
  cursor: pointer;
}

.sa-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 6px;
  padding: 6px;
  margin: 6px 8px 6px 6px;
  transition: 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  word-break: break-all;
  hyphens: auto;
  cursor: pointer;
}

.sa-option:hover {
  background-color: var(--color-bg-option-hover);
}

.sa-dropdown span.maxselected {
  width: calc(100% - 15px);
  cursor: pointer;
}

.sa-all-selector {
  border-bottom: solid 1px var(--color-border);
  border-radius: 0px;
  font-weight: 600;
}

.sa-disabled-option {
  color: var(--color-text-placeholder);
}
.sa-not-found:hover,
.sa-not-found:hover>label,
.sa-disabled-option:hover,
.sa-disabled-option:hover>label {
  cursor: auto;
  background-color: transparent;
}
